html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    background-color: #EAC4D5;
    padding: .5%;
    position: fixed;
    top: 0;
    width: 100%;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#section1{
    height: 100%;
    padding-top: 20px; 
    padding-bottom: 15px;
}

#section2{
    background-color: #B8E0D2;
    padding-top: 20px; 
    padding-bottom: 15px;
}

.portfolio-card{
    padding-top: 50px;
    padding-bottom: 15px;
}

.footer{
    background-color: #FFFD74;
    padding: .5%;
}
.footer h1{
    color: navy;
}