html{
  scroll-behavior: smooth;
  
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    background-color: #EAC4D5;
    padding: .5%;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
}

.row{
    border: red solid;
}

.sticky-top{
    position: -webkit-sticky;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

#section1{
    padding-top: 20px; 
    padding-bottom: 15px;
}

#section1 h1{
    padding-top: 35px;
}

#section1 img{
    padding-top: 15px;
}

#section2{
    background-color: #B8E0D2;
    padding-top: 20px; 
    padding-bottom: 15px;
    
}

.portfolio-card{
    padding-top: 50px;
    padding-bottom: 15px;
}

.footer{
    background-color: #FFFFA7;
    padding: .5%;
}
.footer h1{
    color: navy;
}